In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
df=pd.read_csv('House_Rent_Dataset.csv')
print(df.head())
print(df.info())
df.describe()

    Posted On  BHK   Rent  Size            Floor    Area Type  \
0  2022-05-18    2  10000  1100  Ground out of 2   Super Area
1  2022-05-13    2  20000   800       1 out of 3   Super Area
2  2022-05-16    2  17000  1000       1 out of 3   Super Area
3  2022-07-04    2  10000   800       1 out of 2   Super Area
4  2022-05-09    2   7500   850       1 out of 2  Carpet Area

              Area Locality     City Furnishing Status  Tenant Preferred  \
0                    Bandel  Kolkata       Unfurnished  Bachelors/Family
1  Phool Bagan, Kankurgachi  Kolkata    Semi-Furnished  Bachelors/Family
2   Salt Lake City Sector 2  Kolkata    Semi-Furnished  Bachelors/Family
3               Dumdum Park  Kolkata       Unfurnished  Bachelors/Family
4             South Dum Dum  Kolkata       Unfurnished         Bachelors

   Bathroom Point of Contact
0         2    Contact Owner
1         1    Contact Owner
2         1    Contact Owner
3         1    Contact Owner
4         1    Contact Owner
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4746 non-null   object
 1   BHK                4746 non-null   int64
 2   Rent               4746 non-null   int64
 3   Size               4746 non-null   int64
 4   Floor              4746 non-null   object
 5   Area Type          4746 non-null   object
 6   Area Locality      4746 non-null   object
 7   City               4746 non-null   object
 8   Furnishing Status  4746 non-null   object
 9   Tenant Preferred   4746 non-null   object
 10  Bathroom           4746 non-null   int64
 11  Point of Contact   4746 non-null   object
dtypes: int64(4), object(8)
memory usage: 296.7+ KB
None

               BHK          Rent         Size     Bathroom
count  4746.000000  4.746000e+03  4746.000000  4746.000000
mean      2.083860  3.499345e+04   967.490729     1.965866
std       0.832256  7.810641e+04   634.202328     0.884532
min       1.000000  1.200000e+03    10.000000     1.000000
25%       2.000000  1.000000e+04   550.000000     1.000000
50%       2.000000  1.600000e+04   850.000000     2.000000
75%       3.000000  3.300000e+04  1200.000000     2.000000
max       6.000000  3.500000e+06  8000.000000    10.000000

In [17]:
from sklearn.model_selection import train_test_split  # Import function to split data

# Define features (x) and target (y)
x = df[['BHK', 'Size', 'Bathroom']]  # Features: bedroom, area, and bathroom columns
y = df['Rent']  # Target: price column


# Split data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Print training and testing target values
print(y_train)
print(y_test)

1995    23500
1497    10500
2763    19000
1351    20000
1862    17000
        ...
4426    25000
466     20000
3092    20000
3772    85000
860     25000
Name: Rent, Length: 3796, dtype: int64
1566    16000
3159    12000
538     28000
2630     8000
4418    46000
        ...
4124    18000
3400    25000
1941    14000
3679    26000
2531    11000
Name: Rent, Length: 950, dtype: int64

In [24]:
from sklearn.linear_model import LinearRegression  # Import linear regression model

# Initialize the Linear Regression model
reg = LinearRegression()

# Train the model using the training data
reg.fit(x_train, y_train)

# Print the coefficients of the trained model
print(reg.coef_)
print(reg.intercept_)
def calc(slope,intercept,bhk,size,bathroom):
    return intercept+slope[0]*bhk+slope[1]*size+slope[2]*bathroom
rent=calc(reg.coef_,reg.intercept_,1,1100,1)
print(rent)

[-2.69131569e+02  2.10539407e+01  2.76245630e+04]
-39022.928496771965
11491.837777679848

In [26]:
print(x_test)
y_pred=reg.predict(x_test)
print(rent)
df_pred=pd.DataFrame({"Actual":y_test.squeeze(),'Predicted':y_pred.squeeze()})
print(df_pred)

      BHK  Size  Bathroom
1566    2  1100         2
3159    2   800         2
538     2   518         2
2630    3  1500         3
4418    3  2235         5
...   ...   ...       ...
4124    2  1248         2
3400    3  1100         2
1941    2   950         2
3679    3  1125         2
2531    1   500         1

[950 rows x 3 columns]
11491.837777679848
      Actual      Predicted
1566   16000   38847.269247
3159   12000   32531.087027
538    28000   26593.875741
2630    8000   74624.277009
4418   46000  145348.049524
...      ...            ...
4124   18000   41963.252475
3400   25000   38578.137678
1941   14000   35689.178137
3679   26000   39104.486196
2531   11000   -1140.526661

[950 rows x 2 columns]

In [29]:
from sklearn.metrics import mean_absolute_error,mean_squared_error
mae=mean_absolute_error(y_test,y_pred)
mse=mean_squared_error(y_test,y_pred)
rmse=np.sqrt(mse)
print(f"Mean absolute Error:{mae}")
print(f"Mean squared error:{mse}")
print(f"Square mean squared error:{rmse}")

Mean absolute Error:26191.957939851032
Mean squared error:2554775777.0457587
Square mean squared error:50544.789811075076